@model AluguerCarros.Models.AlugarCarros.CarroViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Oferta de Carros</h2>

<div style="width: 100px">
    <div class="col-md-0">
        <h5>Combustivel</h5>
        <select name="carro.Combustivel" class="form-control">
            <option value="Diesel">Diesel</option>
            <option value="Gasolina">Gasolina</option>
            <option value="GPL">GPL</option>
            <option value="Elétrico">Elétrico</option>
            <option value="Híbrido (Gasolina)">Híbrido (Gasolina)</option>
            <option value="Híbrido (Diesel)">Híbrido (Diesel)</option>
        </select>
    </div>

    <div class="col-md-0" style="position: relative; width:100%">
        <h5>Marca</h5>
        @*<select name="carro.Marca" class="form-control" @*onchange="location.href='@Url.Action("Filtrar", "Carroes", new { id = item.CarroID })'">*@
        <select name="carro.Marca" class="form-control" onchange="CarregaModelos()">
            @foreach (var marca in Model.marcas)
            {
                <option value=@marca.Nome> @marca.Nome</option>
            }
        </select>
    </div>

    <script>
        function CarregaModelos() {
             = document.querySelector('body > div.container.body-content > div > div:nth-child(2) > select').value;
            alert(Model.teste);
        }
    </script>

    <div class="col-md-0" style="position: relative; width:100%">
        <h5>Modelo</h5>
        <select name="carro.Modelo" class="form-control">
            @foreach (var modelo in Model.modelos)
            {
                <option value=@modelo.Nome>@modelo.Nome</option>
            }
        </select>
    </div>
    <button type="button">Procurar</button>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Matrícula")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Modelo")
        </th>
        <th>
            @Html.DisplayName("Combustível")
        </th>
        <th>
            @Html.DisplayName("Lugares")
        </th>
        <th>
            @Html.DisplayName("Portas")
        </th>
        <th>
            @Html.DisplayName("Preço Diário")
        </th>
        <th>
            @Html.DisplayName("Preço Mensal")
        </th>
        <th>
            @Html.DisplayName("Zona")
        </th>
        <th>
            @Html.DisplayName("Disponível")
        </th>
        <th>
            @Html.DisplayName("Dono")
        </th>
        <th></th>
    </tr>
@foreach (var item in Model.carros) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combustivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Portas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco_Diario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco_Mensal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dono)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Details", new { id = item.CarroID })'">Detallhes</button>
            <button onclick="location.href='@Url.Action("Create", "Pedido_Aluguer", new { CarroID = item.CarroID })'">Requisitar</button>
        </td>
    </tr>
}

</table>
