@model AluguerCarros.Models.AlugarCarros.Avaliacao_Carro

@{
    ViewBag.Title = "Avaliacao_Carro";
}

<h2>Avaliacao_Carro</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Avaliacao_Carro</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Limpeza_Veiculo, "Limpeza do Carro", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Limpeza_Veiculo" class="form-control">
                <option value=1>1 estrela</option>
                <option value=2>2 estrelas</option>
                <option value=3>3 estrelas</option>
                <option value=4>4 estrelas</option>
                <option value=5>5 estrelas</option>
            </select>
            @Html.ValidationMessageFor(model => model.Limpeza_Veiculo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Estado_Veiculo, "Estado do Veículo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Estado_Veiculo" class="form-control">
                <option value=1>1 estrela</option>
                <option value=2>2 estrelas</option>
                <option value=3>3 estrelas</option>
                <option value=4>4 estrelas</option>
                <option value=5>5 estrelas</option>
            </select>
            @Html.ValidationMessageFor(model => model.Estado_Veiculo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Resultado, "Avaliação Global", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Resultado" class="form-control">
                <option value=1>1 estrela</option>
                <option value=2>2 estrelas</option>
                <option value=3>3 estrelas</option>
                <option value=4>4 estrelas</option>
                <option value=5>5 estrelas</option>
            </select>
            @Html.ValidationMessageFor(model => model.Resultado, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" hidden="hidden">
        @Html.LabelFor(model => model.PedidoID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PedidoID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PedidoID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" hidden="hidden">
        @Html.LabelFor(model => model.CarroID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CarroID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CarroID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
