@model AluguerCarros.Models.AlugarCarros.Pedido_Aluguer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido_Aluguer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
